<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.4.0" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.4.7" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.BootstrapIcons" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.BoxIcons" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Codicons" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Entypo" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.EvaIcons" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.FeatherIcons" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.FileIcons" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Fontaudio" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.FontAwesome" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.ForkAwesome" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Ionicons" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.JamIcons" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Material" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.MaterialDesign" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.MaterialLight" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Microns" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Modern" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Octicons" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.PicolIcons" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.PixelartIcons" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.RadixIcons" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.RemixIcon" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.RPGAwesome" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.SimpleIcons" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Typicons" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Unicons" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.VaadinIcons" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.WeatherIcons" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Zondicons" version="4.8.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
</packages>